---
// warning: This file is overwritten by Astro Accelerator

import { getCollection, render } from "astro:content";
import type { Frontmatter } from "astro-accelerator-utils/types/Frontmatter";
import TimelineEvent from "@components/TimelineEvent.astro";
import DefaultLayout from "./Default.astro";

type Props = {
    frontmatter: Frontmatter & { isArchive?: boolean };
    headings: { depth: number; slug: string; text: string }[];
};

const { frontmatter, headings } = Astro.props;
const isArchive = frontmatter.isArchive === true;

const renderedYears = await (async () => {
    const now = new Date();
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate());
    const collection = await getCollection("events", ({ data }) => {
        return isArchive ? data.startDate < today : data.startDate >= today;
    });

    const sortedEvents = collection.sort((a, b) => {
        const aTime = a.data.startDate.getTime();
        const bTime = b.data.startDate.getTime();
        return isArchive ? bTime - aTime : aTime - bTime;
    });

    const groupedEvents = sortedEvents.reduce(
        (acc, event) => {
            const year = event.data.startDate.getFullYear();
            if (!acc[year]) {
                acc[year] = [];
            }
            acc[year].push(event);
            return acc;
        },
        {} as Record<number, any[]>,
    );

    const years = Object.keys(groupedEvents)
        .map(Number)
        .sort((a, b) => (isArchive ? b - a : a - b));

    return Promise.all(
        years.map(async (year) => {
            const yearEvents = await Promise.all(
                groupedEvents[year].map(async (event) => {
                    const { Content } = await render(event);
                    return { event, Content };
                }),
            );

            return { year, events: yearEvents };
        }),
    );
})();
---

<DefaultLayout frontmatter={frontmatter} headings={headings}>
    <slot />

    {
        renderedYears.map(({ year, events }) => (
            <Fragment>
                <h2>{year}</h2>
                <div class="timeline" data-timeline>
                    {events.map(({ event, Content }) => (
                        <TimelineEvent
                            date={event.data.startDate}
                            endDate={event.data.endDate}
                            title={event.data.title}
                            location={event.data.location}
                            linkHref={event.data.linkHref}
                            linkText={event.data.linkText}>
                            <Content />
                        </TimelineEvent>
                    ))}
                </div>
            </Fragment>
        ))
    }
</DefaultLayout>
