---
// warning: This file is overwritten by Astro Accelerator

import { Accelerator } from 'astro-accelerator-utils';
import type { Link } from 'astro-accelerator-utils/lib/v1/paging.mjs';
import { SITE } from '@config';
import type { MarkdownInstance, Page } from 'astro';
import { Translations, Lang } from '@util/Languages';

const accelerator = new Accelerator(SITE);
const stats = new accelerator.statistics('accelerator/components/PagingLinks.astro');
stats.start();

// Properties
type Props = {
    lang: string;
    page: Page<MarkdownInstance<Record<string, any>>>;
    pageLinks: Link[];
};
const { lang, page, pageLinks } = Astro.props satisfies Props;

// Language
const _ = Lang(lang);

// Logic
stats.stop();
---

{
    page.lastPage > 1 && (
        <nav class="post-paging" aria-label={_(Translations.aria.paging)}>
            {page.url.prev ? (
                <a href={accelerator.urlFormatter.formatAddress(page.url.prev)}>{_(Translations.articles.previous)}</a>
            ) : (
                <span>{_(Translations.articles.previous)}</span>
            )}
            {pageLinks.map(link => (
                <a
                    href={accelerator.urlFormatter.formatAddress(link.url)}
                    aria-current={link.ariaCurrent ? link.ariaCurrent : null}
                    class={link.class}>
                    {link.title}
                </a>
            ))}
            {page.url.next ? (
                <a href={accelerator.urlFormatter.formatAddress(page.url.next)}>{_(Translations.articles.next)}</a>
            ) : (
                <span>{_(Translations.articles.next)}</span>
            )}
        </nav>
    )
}
