---
import { SITE } from "@config";
import { Accelerator } from "astro-accelerator-utils";

interface Props {
    date: string;
    endDate?: string;
    title: string;
    location: string;
    description: string;
    linkHref: string;
    linkText: string;
}

const { date, endDate, title, location, description, linkHref, linkText } =
    Astro.props;

const accelerator = new Accelerator(SITE);

const eventDate = new Date(date);
const threeMonthsAgo = new Date();
threeMonthsAgo.setMonth(threeMonthsAgo.getMonth() - 3);

const isOld = eventDate < threeMonthsAgo;

const displayDate = isOld
    ? accelerator.dateFormatter.formatDateWithoutDay(date, SITE.default.locale)
    : accelerator.dateFormatter.formatShortDate(date, SITE.default.locale);
---

<div class="timeline-event">
    <div>
        <time datetime={date}>{displayDate}</time>{
            !isOld && endDate && (
                <Fragment>
                    &dash;
                    <time datetime={endDate}>
                        {accelerator.dateFormatter.formatShortDate(
                            endDate,
                            SITE.default.locale,
                        )}
                    </time>
                </Fragment>
            )
        }
        <h3>{title}</h3>
        <span class="timeline-location">{location}</span>
        <p>{description}</p>
        {
            linkHref && (
                <a href={linkHref} class="button">
                    {linkText}
                </a>
            )
        }
    </div>
</div>
