---
import { SITE } from "@config";
import { Accelerator } from "astro-accelerator-utils";

interface Props {
    date: string;
    endDate?: string;
    title: string;
    location: string;
    description?: string;
    linkHref: string;
    linkText: string;
}

const { date, endDate, title, location, description, linkHref, linkText } =
    Astro.props;

const accelerator = new Accelerator(SITE);

const eventDate = new Date(date);
const threeMonthsAgo = new Date();
threeMonthsAgo.setMonth(threeMonthsAgo.getMonth() - 3);

const isOld = eventDate < threeMonthsAgo;

const formatDate = (d) => {
    try {
        return isOld
            ? accelerator.dateFormatter.formatDateWithoutDay(
                  d,
                  SITE.default.locale,
              )
            : accelerator.dateFormatter.formatShortDate(d, SITE.default.locale);
    } catch (e) {
        return new Date(d).toLocaleDateString(SITE.default.locale);
    }
};

const displayDate = formatDate(date);
---

<div class="timeline-event">
    <div>
        <time datetime={date.toString()}>{displayDate}</time>{
            !isOld && endDate && (
                <Fragment>
                    &dash;
                    <time datetime={endDate.toString()}>
                        {formatDate(endDate)}
                    </time>
                </Fragment>
            )
        }
        <h2>{title}</h2>
        <span class="timeline-location">{location}</span>
        {description && <p>{description}</p>}
        <slot />
        {
            linkHref && (
                <a href={linkHref} class="button">
                    {linkText || "Link"}
                </a>
            )
        }
    </div>
</div>
