---
import { SITE } from "@config";
import { Accelerator } from "astro-accelerator-utils";

interface Props {
    date: string;
    endDate?: string;
    title: string;
    location: string;
    description: string;
    linkHref: string;
    linkText: string;
}

const { date, endDate, title, location, description, linkHref, linkText } =
    Astro.props;

const accelerator = new Accelerator(SITE);
---

<div class="timeline-event">
    <div>
        <time datetime={date}
            >{
                accelerator.dateFormatter.formatShortDate(
                    date,
                    SITE.default.locale,
                )
            }</time
        >{
            endDate && (
                <Fragment>
                    &dash;
                    <time datetime={endDate}>
                        {accelerator.dateFormatter.formatShortDate(
                            endDate,
                            SITE.default.locale,
                        )}
                    </time>
                </Fragment>
            )
        }
        <h3>{title}</h3>
        <span class="timeline-location">{location}</span>

        <details class="timeline-details">
            <summary>Details</summary>
            <p>{description}</p>
            {
                linkHref && (
                    <a href={linkHref} class="button">
                        {linkText}
                    </a>
                )
            }
        </details>
    </div>
</div>
