---
import { SITE } from "@config";
import { Accelerator } from "astro-accelerator-utils";

interface Props {
    date: string;
    endDate?: string;
    title: string;
    location: string;
    description?: string;
    linkHref?: string;
    linkText?: string;
    detailsHref?: string;
}

const {
    date,
    endDate,
    title,
    location,
    description,
    linkHref,
    linkText,
    detailsHref,
} = Astro.props;

const accelerator = new Accelerator(SITE);

const eventDate = new Date(date);
const threeMonthsAgo = new Date();
threeMonthsAgo.setMonth(threeMonthsAgo.getMonth() - 3);

const isOld = eventDate < threeMonthsAgo;

const formatDate = (d: Date | string) => {
    try {
        return isOld
            ? accelerator.dateFormatter.formatDateWithoutDay(
                  d,
                  SITE.default.locale,
              )
            : accelerator.dateFormatter.formatShortDate(d, SITE.default.locale);
    } catch (e) {
        return new Date(d).toLocaleDateString(SITE.default.locale);
    }
};
const displayDate = formatDate(date);
---

<div class="timeline-event">
    <div>
        <time datetime={date.toString()}>{displayDate}</time>{
            !isOld && endDate && (
                <Fragment>
                    &dash;
                    <time datetime={endDate.toString()}>
                        {formatDate(endDate)}
                    </time>
                </Fragment>
            )
        }
        <h3>{title}</h3>
        <span class="timeline-location">{location}</span>
        {description && <p>{description}</p>}
        <slot />
        <div class="timeline-links">
            {
                linkHref && (
                    <a href={linkHref} class="button">
                        {linkText || "Link"}
                    </a>
                )
            }
            {
                detailsHref && (
                    <a href={detailsHref} class="button button-alternate">
                        More Details
                    </a>
                )
            }
        </div>
    </div>
</div>

<style is:global>
    .timeline-event {
        padding-inline-start: calc(var(--timeline-gap) * 2.5);
        position: relative;
        margin-block-end: var(--block-gap);
    }

    .timeline-event::before {
        background: var(--aft);
        border: 3px solid var(--icon-block);
        border-radius: 50%;
        box-shadow: var(--box-shadow-unselected);
        content: "";
        height: 1rem;
        left: calc(var(--timeline-gap) - 0.5rem);
        position: absolute;
        top: 1.4em;
        width: 1rem;
        z-index: 1;
    }

    .timeline-event > div {
        background: var(--aft-block);
        border-radius: var(--block-radius);
        box-shadow: var(--box-shadow-unselected);
        color: var(--fore-block);
        padding: 1.5rem;
        text-align: left;
    }

    .timeline-event.event-today > div {
        box-shadow: var(--box-glow);
    }

    .timeline-event.event-past > div {
        background: var(--aft);
        box-shadow: none;
        color: var(--fore);
        opacity: 0.8;
    }

    .timeline-event.event-past::before {
        box-shadow: var(--box-shadow-unselected);
    }

    .timeline-links {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-block-start: 1rem;
    }

    .button-alternate {
        filter: saturate(0.5);
    }

    .timeline-details {
        font-size: var(--font-size-meta);
    }

    time {
        display: inline-block;
        margin-block-end: var(--grid-gap);
    }

    .timeline-location {
        display: block;
        font-size: var(--font-size-meta);
    }
</style>
